.red {
    width: 170px;
    height: 20px;
    background-color: red;
}

.blue {
    width: 170px;
    height: 20px;
    background-color: blue;
}

.anything {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}